<h1>Submit a Song</h1>


<%= form_for(@song) do |f| %>
  <ul>
    <% @song.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
  <%= f.label :name, "Song name: " %>
  <%= f.text_field :name %>
  <br />
  <%= f.submit "Create Song"%>
<% end %>