<h1>Create a Band</h1>

<%= form_for(@band) do |f| %>

  <ul>
    <% @band.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <% Artist.all.each do |artist| %>
    <label>
      <%= artist.name %>
      <%=
      check_box_tag(
        "band[artist_ids][]",
        artist.id,
        @band.artists.include?(artist)
      )
      %>
    </label>
  <% end %>

  <%= hidden_field_tag "band[artist_ids][]" %>
  <br>
  <%= f.submit "Create Band"%>
<% end %>